<h1> Register </h1>
<%= form_with model: @user do |form| %>
  <%= form.label :user_name %>
  <br>
  <%= form.text_field :user_name %>
  <br>
  <%= form.label :password %>
  <br>
  <%= form.password_field :password %>
  <br>
  <%= form.submit 'Register' %>
  <% end %>
  